.hero{

    margin-bottom: 50px;
}




@media only screen and (min-width: 320px) and (max-width: 720px) {
    /* .hero {
        display: block ;
        height: 90vh ;
        padding: 40px 30px ;
    }

    .hero-left {
        padding-left: 0 ;
       
    }

    .hero-left p {
        font-size: 65px ;
    } */
}